source .venv/bin/activate
LOOKERSDK_BASE_URL=https://your-instance.looker.com:19999
LOOKERSDK_CLIENT_ID=xxxx
LOOKERSDK_CLIENT_SECRET=xxxx
LOOKERSDK_VERIFY_SSL=True
export FAST_HUB=https://your-web-app-url
uvicorn main:app --reload
